.accordion {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.accordion-item {
  border: 1px solid red;
}

.accordion-item:hover {
  background-color: rgb(234, 241, 207);
}

.accordion-item:hover .accordion-icon {
  transform: rotate(45deg);
}

.accordion-item:hover .accordion-img {
  display: block;
  opacity: 1;
}

.accordion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.accordion-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordion-icon {
  width: 30px;
  height: 30px;
  content: url("https://img.icons8.com/ios-filled/256/plus-math.png");
  transition: transform 0.3s ease;
}

.accordion-img {
  display: none;
  width: 100px;
  height: auto;
  padding: 10px;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    display: block;
    transform: scaleY(1);
  }
}

.accordion-checkbox {
  display: none;
}

.accordion-checkbox:checked ~ .accordion-header .accordion-icon {
  transform: rotate(45deg);
}

.accordion-checkbox:checked ~ .accordion-header .accordion-img {
  display: block;
}
