.accordion {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.accordion-item {
  border: 1px solid red;
}

.accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: blue;
}

.accordion-icon {
  border: 1px solid red;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-checkbox {
  display: none;
}

.accordion-checkbox:checked ~ .accordion-header .accordion-icon {
  transform: rotate(45deg);
  color: red;
}

.accordion-checkbox:checked ~ .accordion-content {
  display: block;
}
